sudo: false

language: php

php:
  - 7.1
  - 7.2
  - 7.3
  - 7.4
  - nightly

jobs:
  allow_failures:
    - php: nightly
  fast_finish: true
  include:
    - php: 7.1
    - env: UV_VERSION=v0.2.2

env:
  - AMP_DEBUG=true

before_install:
  - if [ "$TRAVIS_PHP_VERSION" != "7.1" ]; then
      phpenv config-rm xdebug.ini || echo "No xdebug config.";
      travis/install-pcov.sh;
    fi
  - travis/install-eio.sh
  - travis/install-uv.sh $UV_VERSION
  - wget https://github.com/php-coveralls/php-coveralls/releases/download/v2.2.0/php-coveralls.phar

install:
  - if [ "$TRAVIS_PHP_VERSION" = "nightly" ]; then
      composer update -n --prefer-dist --ignore-platform-reqs;
    else
      composer update -n --prefer-dist;
    fi
  - composer show

script:
  - vendor/bin/phpunit --coverage-text --verbose --coverage-clover build/logs/clover.xml;
  - PHP_CS_FIXER_IGNORE_ENV=1 php vendor/bin/php-cs-fixer --diff --dry-run -v fix

after_script:
  - travis_retry php php-coveralls.phar -v

cache:
  directories:
    - $HOME/.composer/cache
    - $HOME/.php-cs-fixer
    - $HOME/.local
